extends ./layout.jade

block content

    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="https://simplewebrtc.com/latest-v2.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="javascripts/client.js")
    
    .container
        .jumbotron
            a(href="/")
                h1#chattitle #{title}
        .row#mainsection
            #user1(class="col-sm-6")
                script.
                    document.write('<h3 id="displayname">' + name + '</h3>')
                #remotesVideos
                    video#localVideo
            #chatmessages(class="col-sm-6")
                h3 Chat Log
                ul(id="messages")
                #chatinput
                    form#chatform(action="")
                        input(id="m" autocomplete="off" placeholder="Enter your message here!")      
                        button#send(class="btn btn-default") Send
                        button#translate(class="btn btn-default") Translate
                #popup(class="visible")
                    #buttons
                        button.language(class="btn btn-default") English
                        button.language(class="btn btn-default") German
                        button.language(class="btn btn-default") Spanish
                        button.language(class="btn btn-default") Catalan
                        button.language(class="btn btn-default") French
                        button.language(class="btn btn-default") Chinese
                        button.language(class="btn btn-default") Japanese
