extends ./layout.jade

block content
    
    h1 #{title}
    
    .row#videosection
        #user1(class="four columns")
            h5 Barbarian #1
            video#localVideo(autoplay)
        #controls(class="four columns")
            button#startButton Start
            button#callButton Call
            button#hangupButton Stop
        #user2(class="four columns")
            h5 Barbarian #2
            video#remoteVideo(autoplay)
    .row
        #chatmessages(class="nine columns")
            ul(id="messages")
        #activeusers(class="three coulmns")
            ul(id="userlist")
    .row
        #entertext(class="twelve columns")
            form(action="")
                input(id="m" autocomplete="off")
                button#send Send
            button#translate Translate
            #popup
                button.language German
                button.language Spanish
                button.language French
                button.language Chinese
                button.language Japanese
    
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    // script(src="javascripts/adapter.js")
    script(src="javascripts/client.js")
    // script(src="javascripts/webRTC.js")
    