extends ./layout.jade

block content
    
    h1#chattitle #{title}
    
    .row#videosection
        #user1(class="six columns")
            h5 Barbarian #1
            video#localVideo(height="300")
        #user2(class="six columns")
            h5 Barbarian #2
            #remotesVideos
    .row
        #chatmessages(class="nine columns")
            ul(id="messages")
        #activeusers
            ul(id="userlist")
        #popup(class="hidden")
            #buttons
                button.language German
                button.language Spanish
                button.language Catalan
                button.language French
                button.language Chinese
                button.language Japanese
    .row
        #entertext(class="twelve columns")
            form#chatform(action="")
                input(id="m" autocomplete="off")
                button#send Send
            button#translate Translate
    
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="https://simplewebrtc.com/latest-v2.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="javascripts/client.js")
    