extends ./layout.jade

block content
    
    h1 #{title}
    
    .row
        div#chatmessages(class="nine columns")
            ul(id="messages")
        div#sidebar(class="three columns")
            div#user1
                h5 Barbarian #1
                video#myvideo(autoplay)
                button#record Record
                button#stop Stop
            div#user2
                h5 Barbarian #2
                video#yourvideo(autoplay)
    
    .row
        div#entertext(class="nine columns")
            form(action="")
                input(id="m" autocomplete="off")
                button#send Send
    
    
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="javascripts/socket.js")
    script(src="javascripts/webRTC.js")
    