extends ./layout.jade

block content

    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="https://simplewebrtc.com/latest-v2.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="javascripts/client.js")
    
    .row#videosection
        a(href="/")
            h1#chattitle #{title}
        #user1(class="five columns offset-by-one")
            script. 
                document.write('<h5>' + name + '</h5>')
            video#localVideo
        #user2(class="five columns")
            h5 Your Friend
            #remotesVideos
    .row
        #chatmessages
            ul(id="messages")
        #activeusers
            ul(id="userlist")
        #popup(class="hidden")
            #buttons
                button.language German
                button.language Spanish
                button.language Catalan
                button.language French
                button.language Chinese
                button.language Japanese
    .row
        #entertext(class="twelve columns")
            form#chatform(action="")
                input(id="m" autocomplete="off")
                button#send Send
            button#translate Translate
    