extends layout

block  content

    h1 Instant Barbarians
    form#route
        input#enterroom
        button#submit(type="submit") Submit
        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")   
    script(src="javascripts/homepage.js")
    