extends ./layout.jade

block content
    .container-fluid#homepage
        h1.maintitle Instant Barbarians
        h3 A Barbaric Real-time Chat App
        form(method="get" action="/chat")
            .main
                    input#name(type="text" name="name" placeholder="Enter your name")
                .main
                        button#submitname(class="btn btn-default" type="submit" value="submit") Submit
        
        
    