doctype html
html
    head
        title Instant Barbarians
        link(rel="stylesheet" type="text/css" href="../css/normalize.css")
        link(rel="stylesheet" type="text/css" href="../css/skeleton.css")
        link(rel="stylesheet" type="text/css" href="../css/style.css")
    body
    block content
