h1 {
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 0px
}

/*message section*/

#chatmessages {
    border-right: solid black 2px;
    margin-right: 10px
}

#messages { 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px;
}
      
#messages li { 
    padding: 10px; 
    margin: 0px;
}
      
#messages li:nth-child(odd) { 
    background: #eee; 
}

#userlist { 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
}
      
#userlist li { 
    padding: 10px; 
    margin-left: 0px
}
      
#userlist li:nth-child(odd) { 
    background: #eee; 
}

/*video section*/

h5 {
    margin-bottom: 0px
}

#videosection {
    border-bottom: 2px solid black
}

video {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    text-align: center
}

#controls {
    text-align: center;
    margin-top: 8%;
}

#user1, #user2 {
    text-align: center;
    height: 300px
}

#record {
    background-color: whitesmoke;
    margin-left: 2%;
    margin-bottom: 0.5%;
    margin-top: 1%;
    text-align: center
}

/*chat input at the bottom*/

form {
    margin-bottom: 0px;
    margin-top: 0.5%;
    width: 85%;
    display: inline-block
}

form input {
    width: 85%;
    margin-left: 2%;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: whitesmoke;
}

#translate {
    width: 130px;
    margin-left: 1%;
    margin-top: 10px;
    text-align: center;
}

#send {
    width: 100px;
    margin-left: 1%;
    margin-top: 10px;
    text-align: center;
    display: inline-block
}

#entertext {
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    vertical-align: center;
    background-color: black;
    border-right: 2px solid black;
    clear: both;
}

#popup {
    display: none;
    text-align: center
}

.language {
    margin: 5px
}