@font-face {
    font-family: silianRail;
    src: url(fonts/silianrail.ttf)
}

body {
    font-family: silianRail
}

h1 {
    border-bottom: 2px solid black;
    text-align: center;
}

#entertext {
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    vertical-align: center;
    background-color: black;
    border-right: 2px solid black
}


#messages { 
    list-style-type: none; margin: 0; padding: 0; 
}
      
#messages li { 
    padding: 5px 10px; 
}
      
#messages li:nth-child(odd) { 
    background: #eee; 
}

form {
    margin-bottom: 0.5%;
}

form input {
    width: 85%;
    margin-left: 2%;
    margin-right: 2%
    margin-bottom: 0%;
    padding: 10px;
    border-radius: 5px
}

button {
    width: 8%;
    background-color: whitesmoke;
    margin-left: 2%;
    margin-top: 1%;
    text-align: center
}