/*HOMEPAGE*/

@font-face {
    font-family: Ailerons;
    src: url(../fonts/Ailerons.otf);
}

a {
    text-decoration: none;
    color: black
}

#main {
    background-image: url('../images/cosmos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main {
    text-align: center
}

.maintitle {
    font-size: 5em
}

.maintitle, h3 {
    font-family: Ailerons;
    text-align: center;
    margin-bottom: 0px;
    color: whitesmoke
}

#name {
    font-family: Ailerons;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.5em;
    text-align: center;
    margin: 10px
}

#submitname {
    font-family: Ailerons;
    border-radius: 25px;
    font-size: 1.5em
}




/* CHAT PAGE */

.jumbotron {
    border-bottom: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(51, 51, 51)
}

.container {
    background-color: whitesmoke
}

#chattitle {
    font-family: Ailerons;
    text-align: center;
    margin-bottom: 0px;
    font-size: 5em;
    color: whitesmoke;
    margin: 0px
}
/*video section*/

#videosection {
    height: 300px;
    border-bottom: 2px solid black
}


#localVideo {
    height: 250px;
    border-radius: 10%
}

#remotesVideos {
    height: 250px;
    border-radius: 10%
}

video {
    height: 250px;
    border-radius: 10%;
    margin-right: 5px
}

#user1, #user2 {
    display: inline-block;
    text-align: center;
}


/*message section*/

#chatmessages {
    border-right: solid black 2px;
    margin-right: 10px;
    height: 257px;
    width: 75.65%;
    overflow: scroll;
    display: inline-block;
    float: left;
    margin-right: 0px;
}

#messages { 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px;
}
      
#messages li { 
    padding: 10px 10px 10px 15px; 
    margin: 0px auto;
    margin-top: 5px;
    border-radius: 25px;
    width: 85%; 
    float: left;
}

      
#messages li:hover { 
    background: rgb(191, 239, 255); 
}

#activeusers {
    width: 24.35%;
    height: 257px;
    display: inline-block;
    float: right;
    padding: 0px
}

#userlist { 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
}
      
#userlist li { 
    padding: 10px; 
    margin-left: 0px;
}

#userlist li:nth-child(odd) { 
    background: rgb(180, 95, 16); 
}

/*chat input at the bottom*/

#chatinput {
    border-top: 2px solid black;
    background-color: rgb(51, 51, 51)
}

#chatform {
    display: inline-block;
    width: 85%
}

#m {
    padding: 10px;
    width: 85%;
    border-radius: 5px;
    margin: 10px
}

#send, #translate {
    display:inline-block;
    margin: 10px;
    width: 100px
}

.visible {
    display: none;
    background-color: rgb(51, 51, 51);
    border-radius: 25px;
    right: 10px;
    bottom: 100px;
    text-align: center;
    position: absolute;
    height: 320px;
    width: 160px;
}

#popup {
    height: 295px
}

#buttons {
    margin-top: 12.5px;
}

.language {
    width: 120px;
    text-align: center;
    margin: 5px;
    background-color: whitesmoke
}